.get-in-touch {
  &__content {
    display: flex;

    &__title {
      width: 50%;
      font-size: 56px;
      font-weight: 700;
      line-height: 70px;
      text-transform: uppercase;

      @include on-tablet {
        font-size: 36px;
        line-height: 46px;
      }

      @include on-mobile {
        width: 100%;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
      }
    }

    &__form {
      display: block;
      width: 50%;
      @include on-mobile {
        width: 100%;
      }

      &__input {
        width: 100%;
        padding: 12px 36px;
        margin-bottom: 20px;
        background-color: $color-white;
        border: 1px solid $color-gray;

        &:focus {
          border-color: $color-green;
          outline: none;
        }

        &::placeholder {
          color: $color-gray;
        }

        @include on-tablet {
          padding: 12px 30px;
        }

        @include on-mobile {
          padding: 12px 20px;
        }
      }

      &__textarea {
        width: 100%;
        min-height: 120px;

        padding: 12px 36px;
        background-color: $color-white;
        resize: none;
        margin-bottom: 30px;
        border: 1px solid $color-gray;

        @include on-tablet {
          min-height: 200px;
        }

        &:focus {
          border-color: $color-green;
          outline: none;
        }

        &::placeholder {
          color: $color-gray;
        }

        @include on-tablet {
          padding: 12px 30px;
        }

        @include on-mobile {
          padding: 12px 20px;
        }
      }

      &__button {
        width: 120px;
        height: 40px;
        color: white;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        background-color: $color-green;
        display: block;

        &:hover {
          background-color: $text-green;
        }
      }
    }

    @include on-mobile {
      flex-direction: column;
    }
  }
}
