.product__image {
  background-image: url('../../images/image2.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 846px;
  height: 520px;
  @include onTablet {
    background-image: url('../../images/image-tablet2.png');
    width: 700px;
    height: 430px;
  }
  @include onMobile {
    background-image: url('../../images/image-mobile2.png');
    width: 296px;
    height: 195px;
  }
}
