@import 'utils';
@import 'typography';

@import 'src/styles/blocks/container.scss';
@import 'src/styles/blocks/section.scss';
@import 'src/styles/blocks/page.scss';
@import 'src/styles/blocks/header.scss';
@import 'src/styles/blocks/logo.scss';
@import 'src/styles/blocks/menu.scss';
@import 'src/styles/blocks/nav.scss';
@import 'src/styles/blocks/benefits.scss';
@import 'src/styles/blocks/product.scss';
@import 'src/styles/blocks/about.scss';
@import 'src/styles/blocks/quote.scss';
@import 'src/styles/blocks/features.scss';
@import 'src/styles/blocks/get-in-touch.scss';
@import 'src/styles/blocks/footer.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color-dark-grey;
  background-color: $color-white;
}

*{
  transition: $transition
}
